debug/*
release/*
X64/*
.vs/*
bin/*
lib/*
obj/*
__pycache__/*
*.ilk
*.pdb
*.sdf
*.ncb
*.bak
*.sin
*.suo
*.vcproj*
*.vcxproj*
*.pyproj*
*.filters
*.idb
*makefile*
*.ipch
*.db
.qmake.stash
*.pro.user
*.pyc
*_rc.py
ui_*.py
